
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-suitcase:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */